.header {
  color: wheat;
  padding: 50px;
  border: 2px solid wheat;
  max-width: 700px;
  width: 100%;
}



/* margin = space outside the box
padding = space inside the box
border = the edge of the box
content-box = width applies to content only
border-box = width includes content + padding + border
