/* before and after will effect all the sudo elements on the page
* selects all the normal elements on the page
*::before == selects all the elements before the sudo elements
*::after == selects all the elements after them 

Using both of them here will apply border-box to all the elements globally
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(54, 53, 53);
  margin: 0;
}
